/* label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #080808;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button.save {
  transition-duration: 0.4s;
  padding: 15px 32px;
  font-size: 16px;
}

button.save:hover {
  background-color: #4CAF50;
  color: white;
} */

.employee-hero-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-header {
  background-color: #17a2b8;
  display: flex;
}

/* Định dạng cho tiêu đề của cửa sổ pop-up */
.modal-title {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  /* margin-right: 800px; */
  background-color: red;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 20px;
  background-color: green;
}

/* Định dạng cho phần nội dung của cửa sổ pop-up */
.modal-body {
  background-color: white;
  padding: 20px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.close:hover,
.close:focus {
  color: #000; /*Thay đổi màu chữ khi hover hoặc focus vào nút*/
  text-decoration: none;
  cursor: pointer; /*Hiển thị con trỏ tay khi hover vào nút*/
}

/* Style cho các phần tử trong nội dung modal */
.item {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}